@use "scss/theme.scss" as theme;

body {
  margin: 0;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-width: 375px;
  background-color: theme.$palette-background-default;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.btnAnimation {
  transition: all 0.2s ease !important;
  &:hover {
    transform: translateX(2px);
  }
}

.tile {
  background-color: rgba(226, 232, 240, 0.3);
  border-radius: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 3px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.3s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0.2);
  }
}
