body {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  width: 80vw;
  min-width: 375px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

/* xs: 0–600px */
@media (max-width: 600px) {
  body {
    padding: 1.875rem 1.875rem;
  }
}

/* sm: 601–900px */
@media (min-width: 601px) and (max-width: 900px) {
  body {
    padding: 1.5rem 3rem;
  }
}

/* md: 901–1200px */
@media (min-width: 901px) and (max-width: 1200px) {
  body {
    padding: 1.75rem 4rem;
  }
}

/* lg: 1201–1536px */
@media (min-width: 1201px) and (max-width: 1536px) {
  body {
    padding: 2rem 5rem;
  }
}

/* xl: 1537px+ */
@media (min-width: 1537px) {
  body {
    padding: 2rem 5rem;
  }
}
