// Typography
$typography-fontFamily: "'Lato', Helvetica";
$typography-button-fontFamily: "'Lato', Helvetica";
$typography-button-textTransform: none;

// Palette
$palette-primary-main: #ffffff;
$palette-secondary-main: #191f2b;

$palette-background-default: #e7e7e7;

$palette-text-primary: #191f2b;
$palette-text-secondary: #ffffff;
