@use "scss/theme.scss" as theme;

.container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.main {
  margin: 0 auto;
}

.btn {
  background-color: rgba(226, 232, 240, 0.3) !important;
  margin-left: auto !important;
  box-shadow:
    0 4px 3px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}
