@use "../../../../scss/theme" as theme;

.header {
  height: 4.125rem;
  font-weight: 700;
  color: theme.$palette-text-secondary;
}

.btn {
  display: inline-flex !important;
  color: inherit !important;
  font-size: 1rem !important;
  font-weight: inherit !important;
  letter-spacing: 0.1rem;
}

.btns {
  display: flex;
  gap: 1rem;
}

.short {
  display: none !important;
}

.ptr {
  cursor: pointer;
}

@media (max-width: 900px) {
  .long {
    display: none !important;
  }

  .short {
    display: inline-flex !important;
  }
}
